.SecTitle{
    font-size: 10vh;
    position: fixed;
    top: 25%;
    left: -10%;
	text-transform: uppercase;
	opacity:0.5;
	-webkit-text-stroke: 1px black;
font-weight: 1000;
font-stretch:expanded;
letter-spacing: 0.5vw;
-webkit-text-fill-color: whitesmoke;
transform: rotate(270deg)
}
section{
	width: 100vw;
	height: 100vh;
}
.SecDesc{
	font-size: 1.5rem;
	position: fixed;
	top: 10%;
	left: 10%;
	width:30rem;
}
.calendar{
	font-size: 0.6rem;
}

.SkillsTitle{
  font-size: 10vh;
position: fixed;
bottom: 22%;
opacity:0.5;
left: -5%;
-webkit-text-stroke: 1px black;
font-weight: 1000;
font-stretch:expanded;
letter-spacing: 0.5vw;
-webkit-text-fill-color: whitesmoke;
transform: rotate(270deg)
}
.skillsContent{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	position: fixed;
	right: 5%;
	padding-top: 6%;
	flex-wrap: wrap;
	width:80%;
}
.skillsContent > div{
	margin:10px;
	flex:1 1 5%;
}

#testit{
    position: fixed;
    width: 60vw;
    right: 20%;
    bottom: 8%;
    font-size: 1rem;
}
.GitTitle{
    position: fixed;
    width: 100vw;
    text-align: center;
    bottom: 8%;
    font-size: 1rem;
}

.myProjects{
	width: 85vw;
    height: 70vh;
    background: whitesmoke;
    margin: 5% 12%;
}
.ProjectsSecTitle{

    position: fixed;
    top: 18.5%;
    border-top: 0.2rem black solid;
    margin: 1% 0%;
    width:5.6vw;
    line-height:1.5;
	border-bottom: 0.2rem black solid;
    border-right: 0.2rem whitesmoke solid;

}
/* .ProjectsSecTitle div:nth-child(-n+3){
border-bottom:0.5px solid black;
padding:2%;
} */

.projSTitle{
    padding:2%;
    cursor:pointer;

}



.ProjectsSecBody{
	width: 62vw;
    height: 70vh;
    background: whitesmoke;
    margin-left: 6.6%;
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
}
.ProjectsSecNav{
    position: fixed;
    right: 15%;
    top: 21%;
    font-size: 1.5rem;
    border-right: 0.2rem solid;
    border-bottom: 0.2rem solid;
    width: 2.6vw;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 0.2rem solid;
    border-left: 0.2rem solid whitesmoke;
}
