<section>
    <a [routerLink]="['/home']" class="b2h" style="color:black;position: absolute;
    right: 25px;top:0px;">
        <i  class="fa fa-home fa-2x"></i>
      </a>
  <div class="mainContainer">
      <div class="titleContainer">

          <div class="SecTitle">
              Projects
          </div>
         
          <!-- <div class="SecDesc">
                  Self-Taught | Creative | Inspired
                  <br/>
                  The recipes I have prepared and perfected over the years!
          </div> -->

      </div>
      <div class="myProjects">
          <div class="ProjectsSecTitle">
              <div class="projSTitle">
                  Web
              </div>
              <div class="projSTitle">
                  Mobile
              </div>
              <div class="projSTitle">
                  VR
              </div>
              <div class="projSTitle">
                  AI
              </div>
          </div>
          <div class="ProjectsSecBody">
            <div style="text-align: center"><h3>UNDER CONSTRUCTION</h3></div>
              <div class="ProjectsSecNav">
                  <div class="navIcon">
                      <i class="fa fa-angle-up"></i>
                  </div>
                  <div class="navIcon">
                          <i class="fa fa-angle-down"></i>
                  </div>
          </div>
          </div>
          
      </div>


  </div>

</section>
<section>

  <div class="skillMainContainer">
      <div class="SkillsTitle">
          SKILLS
      </div>
  

    <div class="skillsContent">
        <div  *ngFor="let img of URLS">

            <img [src]="img" style="width: 3rem;height: 3rem;object-fit: cover;"/>

          </div>
      <div>
                <img src="https://logo.clearbit.com/mongodb.org"/>
        </div>
        <div>
                <img src="https://logo.clearbit.com/expressjs.com" style="height: 1.95rem;"/>
        </div>
    </div>
    <div class="githubSec">
        <div id="testit"></div>

        <div class="GitTitle">
            Contributions on <i class="fa fa-github"></i>
        </div>
            
    </div>
  </div>

</section>
