.wrapper {
    height: 100vh;
    font-family: 'Roboto';
    font-weight: 500;
    color: whitesmoke;
    margin:1% 8%;
  }

  .nav__wrapper {
    /* position: fixed; */
    height: 100%;
    z-index:99;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  .nav {
    /* position: relative;
    left: 12%;
    top: 1%; */
  }
  .nav__counter {
    font-size: 3vh;
    transition: all 0.15s ease-out;
  }
  .nav__title {
    font-size: 4vh;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: auto;
    height: 0;
    overflow: hidden;
    opacity: 0;
    /* padding-left: 15%; */
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .SecTitle{
    font-size: 20vh;
    position: fixed;
    top: 1vh;
    width: 100vw;
    left: 5vw;
    -webkit-text-stroke: 1px black;
    font-weight: 1000;
    font-stretch: expanded;
    letter-spacing: 1rem;
    -webkit-text-fill-color: whitesmoke;
    /* transform: rotate(270deg); */
    transition: 0.3s all;
    overflow-wrap: break-word;
    opacity: 0.5;
  }

  .b2h{
    position: sticky;
    top: 1%;
    z-index:2;
    color: black;
    left: 97%;
  }


  .nav__body {
    font-weight: 300;
    font-size: 2.5vh;
    width: auto;
    max-width: 60vw;
    /* padding-lef  t: 15%; */
    text-align: justify;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
  }
  .nav li:after {
    content: '';
    display: block;
    border-left: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    height: 100vh;
    width: 1.5vw;
    position: absolute;
    left: -2.5vw;
    top: 2vh;
  }
  .nav li a {
    display: block;
    padding: 0;
    color: rgb(0, 0, 0);
    transition: all 0.15s ease-out;
  }
  .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  .nav li a:focus {
    background-color: transparent;
  }
  .nav li.active {
    pointer-events: none;
    padding-left: 1em;
  }
  .nav li.active:after {
    width: 2.5vw;
    height: 100vh;
    top: 4vh;
  }
  .nav li.active .nav__counter {
    font-size: 3vh;
  }
  .nav li.active .nav__title {
    height: auto;
    opacity: 1;
    overflow: visible;
  }
  .nav li.active .nav__body {
    height: auto;
    opacity: 1;
    overflow: visible;
  }

  :root {
    --txt-color: #fff;
    --txt-box-bg: #424242;
    --main-bg: #000;
    /* front page title text */
    --main-front-color: #00a8ff;
    --second-front-color: #e84118;
    --third-front-color: #fbc531;
  }

  * {
    margin: 0px;
    padding: 0px;
  }


  /* Text */

  .head-text {
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--txt-color);
  }

  .main-text {
    font-family: "IBM Plex Mono" monospace;
    color: var(--txt-color);
  }

  /* IDs */

  #title-text {
    position: absolute;
    /*Color the text with background*/
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /**/
    /*The animated layer*/
    background-image:linear-gradient(#000,#000);
    background-size:100% 100%;
    background-position:right;
    background-repeat:no-repeat;
    /**/
    transition:1s all;
    font-weight: bold;
    text-align: center;
    font-size: 9vh;
    -webkit-text-stroke: 2px var(--main-front-color);
    animation: stroke-rainbow 13s linear infinite,
               text-rainbow 13s linear infinite;
  }

  #title-text:hover {
    background-size:0% 100%;
  }

  @keyframes stroke-rainbow {
    0% {
      border-color: var(--main-front-color);
      -webkit-text-stroke-color: var(--main-front-color);
    }
    25% {
      border-color: var(--second-front-color);
      -webkit-text-stroke-color: var(--second-front-color);
    }
    50% {
      border-color: var(--third-front-color);
      -webkit-text-stroke-color: var(--third-front-color);
    }
    75% {
      border-color: var(--second-front-color);
      -webkit-text-stroke-color: var(--second-front-color);
    }
    100% {
      border-color: var(--main-front-color);
      -webkit-text-stroke-color: var(--main-front-color);
    }
  }

  @keyframes text-rainbow {
    0% {
      background-color: var(--main-front-color);
    }
    25% {
      background-color: var(--second-front-color);
    }
    50% {
      background-color: var(--third-front-color);
    }
    75% {
      background-color: var(--second-front-color);
    }
    100% {
      background-color: var(--main-front-color);
    }
  }
