<a [routerLink]="['/home']" class="b2h" style="color:black;position: absolute;
right: 25px;top:0px;">
  <i  class="fa fa-home fa-2x"></i>
</a>
<div class="SecTitle">
  LIFE<br/>EXPERIENCE
</div>
<div class="wrapper">

    <nav class="nav__wrapper" id="navbar-example">
      <ul class="nav">

        <li class="presentation active" >
          <a>
            <span class="nav__counter">February 2018 - Present</span>
            <h3 class="nav__title">Systems Engineer, Infosys Ltd.</h3>
            <p class="nav__body">After a four month long internship, I became part of a fun research and innovation team named <strong>Lab42, ETA</strong>. We work on next-gen solutions using disruptive technologies like Deep learning and Virtual reality. Responsibilities include developing POCs and transforming them into innovative solutions, managing and mentoring interns in developing and deploying products.</p>


          </a>
        </li>


        <li class="presentation">
            <a>
              <span class="nav__counter">July 2015 - May 2018</span>
              <h3 class="nav__title">Advisor/Developer, Think-Digital <i class="fa fa-info-circle" href="http://think-digital.in"></i></h3>
              <p class="nav__body">

        This is a startup organization specializing in Software solutions. Enhanced my frontend and backend skills by working on a versatile of projects. Later, I became an advisor and my role was focussed on mentoring and guiding young developers, and orienting the organization towards a technologically advanced company. Being in the organizationm, I also conducted workshops on IoT as an Intro and pursuing it as an advanced career.
              </p>
            </a>
          </li>

        <li class="presentation">
            <a >
              <span class="nav__counter">February 2017 - May 2018</span>
              <h3 class="nav__title">Creatives Mentor, Google Developer Students' Club (DSC-SRM Chapter)</h3>
              <p class="nav__body">Developer Student Clubs (DSC) is a Google Developers program for university students to learn mobile and web development skills. My role was to mentor the technical team of DSC. We worked on Android Studio and Web Development using AMP nd PWA.</p>
            </a>
        </li>

        <li class="presentation">
          <a >
            <span class="nav__counter">October 2016 - January 2018</span>
            <h3 class="nav__title">Developer, Center of Applied Research in Education (CARE-SRM)</h3>
            <p class="nav__body">Worked with a team of Software develpersto develop smart and innovative teaching environments tat help in enhancing the university's learning approach. We worked on projects like e-Learn and e-Services(A Certification process automation tool).</p>
          </a>
        </li>

        <li class="presentation">
          <a >
            <span class="nav__counter">July 2014 - May 2018</span>
            <h3 class="nav__title">Student, SRM University</h3>
            <p class="nav__body">Completed my Bachelor's degree with an  <strong>8.7 GPA</strong> at SRM University, a great place for Multi-National people to interact, and grow in terms of every aspect of your life. It doesn't matter which course you select to major in, at the end of the programme , you'll eventually come out as a successful visionary.</p>
          </a>
        </li>l.3



      </ul>
    </nav>
<!--
    <section class="section section1" id="section1">
      Scroll down or use the nav.
    </section>



    <section class="section section3" id="section3">
      Section 3
    </section>

    <section class="section section4" id="section4">
      Section 4
    </section>

    <section class="section section5" id="section5">
      Section 5
    </section>

    <section class="section section6" id="section6">
      Section 6
    </section>
 -->

  </div>
