
<section class="sec1" >
        <div class="graphicEngine">
                <app-engine></app-engine>
            </div>
    <mat-grid-list cols="1" rowHeight="100vh">
            <!-- <mat-grid-tile rowspan="1"  colspan="1" >
                    <i class="fa fa-github fa-2x icon-3d"></i>
                    <i class="fa fa-gitlab fa-2x icon-3d"></i>
                    <i class="fa fa-bitbucket fa-2x icon-3d"></i>
                    <i class="fa fa-git fa-2x icon-3d"></i>
            </mat-grid-tile> -->
            <mat-grid-tile rowspan="1" colspan="1">
                <div class="Intro">
                    <div class="iam">Hi there!</div>
                    <div class="reflectIam">I'm a <span  class="text"></span></div>
                </div>
            </mat-grid-tile>

    </mat-grid-list>


</section>
<section class="sec1">

    <div class="grid">
        <a class="grid__item" routerLink="/projects">
            <div class="box" >
                <div class="box__shadow"></div>
                <img class="box__img" src="assets/img/1.gif" alt="Some image" routerLink="/projects"/>
                <h3 class="box__title"><span class="box__title-inner" data-hover="TECHIE">TECHIE</span></h3>
                <h4 class="box__text"><span class="box__text-inner box__text-inner--rotated3">PROJECTS</span></h4>
                <div class="box__deco">&hearts;</div>
                <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
            </div>
        </a>
        <a class="grid__item" href="#preview-2" disabled>
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img" src="assets/img/3.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner" data-hover="CHILL ZONE">CHILL ZONE</span></h3>
                <h4 class="box__text box__text--topcloser box__text--left"><span class="box__text-inner box__text-inner--rotated3">M.A.D</span></h4>
                <div class="box__deco">&#9837;&#9837;</div>
            </div>
        </a>

        <a class="grid__item" href="#preview-3">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img" src="assets/img/3.gif" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner" data-hover="FEAT">FEAT</span></h3>
                <h4 class="box__text box__text--topcloser box__text--left"><span class="box__text-inner box__text-inner--rotated3">ACHIEVEMENTS</span></h4>
                <div class="box__deco">&#10032;</div>
            </div>
        </a>

        <a class="grid__item" routerLink="/work">
            <div class="box" >
                <div class="box__shadow"></div>
                <img class="box__img" src="assets/img/4.gif" alt="Some image"/>
                <h3 class="box__title box__title--left"><span class="box__title-inner" data-hover="I WORK!">I WORK!</span></h3>
                <h4 class="box__text box__title--topcloser box__text--right"><span class="box__text-inner box__text-inner--rotated1">EXPERIENCE</span></h4>
                <div class="box__deco">&#9881;</div>
                <!-- <p class="box__content">"Love stronger, stranger! Love stronger."</p> -->
            </div>
        </a>



        <a class="grid__item" href="#preview-6">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img" src="assets/img/5.gif" alt="Some image"/>
                <h3 class="box__title box__title--left"><span class="box__title-inner" data-hover="LOGBOOK">LOGBOOK</span></h3>
                <h4 class="box__text box__title--topcloser box__text--right"><span class="box__text-inner box__text-inner--rotated1">BLOG</span></h4>

            </div>
        </a>
        <a class="grid__item" href="#preview-5">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img" src="assets/img/6.gif" alt="Some image"/>
                <h3 class="box__title box__title--left"><span class="box__title-inner" data-hover="I CAN SEE">I CAN SEE</span></h3>
                <h4 class="box__text box__title--topcloser box__text--right"><span class="box__text-inner box__text-inner--rotated1">Gallery</span></h4>

                <div class="box__deco" style="font-size:4rem">👀</div>
            </div>
        </a>
    </div>
</section>
<section class="sec1">
        <div class="SectionTitle">

        </div>
</section>
