@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

html,
      body,
      body > div:first-child,
      div#__next,
      div#__next > div {
        height: calc(100% - 5px);
      }